*{padding: 0; margin: 0; box-sizing: border-box;}

/* bg image*/
body{

  height: 900px;
  background-color: black;

}

/* header paralax image image*/
header {
  background: url('images/bg.jpg');
  text-align: center;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;  /* paralax effect*/
  position: relative;

  border-radius: 0 0 85% 85% / 30%;
}

/* header text*/
header .all{
  width: 100%;
  height: 100%;
  padding: 50px;
  color:  black;
}

/* header image text*/
h1 {

  font-size: 70px;
  margin-bottom: 20px;
  color: white;
}


pre{
  font-size:  15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
}


html {
  scroll-behavior: smooth;
}


section{
  background: black;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.scare
{
 background: url(images/bg5.png);
 background-repeat: repeat;
 width: 100%;
 height: 650px;
 position: absolute;
 top: 0;
 Left: 0;
 animation: animateOne 10s infinite linear;

}

@keyframes animateOne
{
  0%
  {
   background-position: 0px 0px;
  }
  100%
  {
    background-position: 100px 650px;
  }
}

.buttons{
  display: flex;
  justify-content: space-around;
}


button{
  border-radius: 10px;
  color: black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

#down:hover{
  background-color: darkred;
  color: white;
}

#up:hover{
  background-color: #34baeb;
  color: white;
}


.ghost{
  position: relative;
  left: 25%;
  top: 25%;
  background-color: gray;
  background-color: black;
}

.layer{
  position: absolute;
}

.layer.boo{
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-name: animate;
}

/*Fading delay of each image */

.ghost img:nth-of-type(1){
  animation-delay: 6s;
}

.ghost img:nth-of-type(2){
  animation-delay: 4s;
}

.ghost img:nth-of-type(3){
  animation-delay: 2s;
}

.ghost img:nth-of-type(4){
  animation-delay: 0s;
}
@keyframes boo {
  0%   {opacity: 1;}
  17%  {opacity: 1;}
  25%  {opacity: 0;}
  92%  {opacity: 0;}
  100% {opacity: 1;}
}

.lightsout{
  background-color: grey;
}
