*{padding: 0; margin: 0; box-sizing: border-box;}

/* bg image*/
body{

  height: 900px;
  background-color: black;

}

/* header paralax image image*/
header {
  background: url('images/bg.jpg');
  text-align: center;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;  /* paralax effect*/
  position: relative;

  border-radius: 0 0 85% 85% / 30%;
}

/* header text*/
header .all{
  width: 100%;
  height: 100%;
  padding: 50px;
  color:  black;
}

/* header image text*/
h1 {

  font-size: 100px;
  font-weight: 100;

  color: white;
  font-family: 'Creepster', cursive;
  text-align: center;
  margin: 0;
s
  width: 100%;
  height: 300px;
  opacity: 1;


}

pre{
  height: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
}


html {
  scroll-behavior: smooth;
}


section{
  background: black;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}

.scare
{
 background: url(images/bg5.png);
 background-repeat: repeat;
 width: 100%;
 height: 650px;
 position: absolute;
 top: 0;
 Left: 0;
 animation: animateOne 10s infinite linear;

}

@keyframes animateOne
{
  0%
  {
   background-position: 0px 0px;
  }
  100%
  {
    background-position: 100px 650px;
  }
}

.buttons{
  display: flex;
  justify-content: space-around;
}


button{
  border-radius: 10px;
  color: black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

#down:hover{
  background-color: darkred;
  color: white;
}

#up:hover{
  background-color: #34baeb;
  color: white;
}


.ghost{
  position: relative;
  left: 25%;
  top: 25%;
  background-color: gray;
  background-color: black;
}

.layer{
  position: absolute;
}

.layer.boo{
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-name: animate;
}

/*Fading delay of each image */

.ghost img:nth-of-type(1){
  animation-delay: 6s;
}

.ghost img:nth-of-type(2){
  animation-delay: 4s;
}

.ghost img:nth-of-type(3){
  animation-delay: 2s;
}

.ghost img:nth-of-type(4){
  animation-delay: 0s;
}
@keyframes boo {
  0%   {opacity: 1;}
  17%  {opacity: 1;}
  25%  {opacity: 0;}
  92%  {opacity: 0;}
  100% {opacity: 1;}
}

.lightsout{
  background-image:  url(images/TorchGif.gif );
  background-repeat:no-repeat;
  background-position: center;
  background-size: 2000px 1000px;
}



.arrow {
    
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: -500px;
            position: absolute;

        }
        
.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -15px;
    animation: scroll1 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -.4s;
}
@keyframes scroll1 {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;

    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}
.stairs-container{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.stairs{
  padding: 10px;
  width: 30%;
}
.foot{

  border-width: 5px;
  color: black;
  border-radius: 10px;
  border-style: dashed;
  height: 200px;
   background-image: linear-gradient(CadetBlue, grey);

}

h2{
  font-family: 'Bradley Hand', cursive, bold;
  font-size: 30px;

}
p{
font-family: 'Bradley Hand', cursive;
  font-size: 20px;

}
